package main

import (
	"log"

	"github.com/vaynedu/hollow"

	"{{.ModuleName}}/config"
	"{{.ModuleName}}/database"
	"{{.ModuleName}}/router"
)

func run() error {
	app, err := hollow.NewApp(hollow.AppOption{
		ConfigPath: ".",
		ConfigName: "conf",
		EnvPrefix:  config.EnvPrefix,
	})
	if err != nil {
		return err
	}

	app.Startup(
		config.Startup,
		database.InitMySQL,
		database.InitRedis,
	)
	app.Shutdown(database.Shutdown)
	router.Register(app)
	return app.Run()
}

func main() {
	if err := run(); err != nil {
		log.Fatal(err)
	}
}
