package model

import (
	"testing"

	. "github.com/smartystreets/goconvey/convey"
)

func TestUserTableName(t *testing.T) {
	Convey("User 使用固定表名", t, func() {
		So((&User{}).TableName(), ShouldEqual, TableNameUser)
	})
}
