syntax = "proto3";

package {{.ProtoPackage}};

option go_package = "{{.ModuleName}}/proto";

import "google/api/annotations.proto";

message HealthRequest {}

message HealthResponse {
  string status = 1;
}

service {{.ServiceName}} {
  rpc Health(HealthRequest) returns (HealthResponse) {
    option (google.api.http) = {
      get: "/v1/{{.ProjectName}}/health"
    };
  }
}
