syntax = "proto3";

package {{.ProtoPackage}};

option go_package = "{{.ModuleName}}/proto";

import "google/api/annotations.proto";

message PingRequest {}

message PingResponse {
  string message = 1;
}

service {{.ServiceName}} {
  rpc Ping(PingRequest) returns (PingResponse) {
    option (google.api.http) = {
      get: "/v1/ping"
    };
  }
}
